.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
